$body-color-dark: #161616;
$text-color-dark: #fff;
$border-color-dark: #424242;
$primary-color: #ffa500;

// border-radius

$rounded-sm: 8px;
$rounded-md: 12px;
$rounded-lg: 16px;
$rounded-xl: 24px;
$rounded-full: 50%;

// transitions

$duration-fast: 0.2s;
$duration-medium: 0.4s;
$duration-slow: 0.6s;
$duration-slowest: 0.8s;

// video player

$progress-bar-unfilled: #ffffff45;
$progress-bar-filled: $primary-color;
$progress-bar-buffered: #ffffff70;
